<div class="container">
    <h2>User Profile</h2>
            
    <table class="table">
      <thead>
        <tr>
          <th>Firstname</th>
          <th>Email</th>
          
          <th>Profile</th>
          <th>Mobile</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{details?.u_name}}</td>
          <td>{{details?.u_email}}</td>
          
          <td><img src={{details?.u_profile}} alt="No Image Selected" height="50px" width="50px"></td>
          <td>{{details?.u_mobile}}</td>
        </tr>
              </tbody>
    </table>
  </div>
  
